USE [AplicacionLenguaje1]
GO
/****** Object:  Table [dbo].[dataDocentes]    Script Date: 18/12/2025 20:15:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dataDocentes](
	[cedula] [int] NOT NULL,
	[docente] [nvarchar](50) NOT NULL,
	[clasificacion] [nvarchar](20) NOT NULL,
	[condicion] [nvarchar](5) NOT NULL,
	[categoria_docente] [nvarchar](20) NOT NULL,
	[asignatura] [nvarchar](100) NOT NULL,
	[seccion] [nvarchar](50) NOT NULL,
	[horas_teoricas] [decimal](18, 0) NULL,
	[horas_practicas] [decimal](18, 0) NULL,
	[horas_laboratorio] [float] NULL,
	[cantidad_horas_academicas] [decimal](18, 0) NULL,
	[programa] [nvarchar](50) NOT NULL,
	[nucleo] [nvarchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
	[periodo] [nvarchar](15) NOT NULL,
	[IdDocentePorPeriodo] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDocentePorPeriodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[docentesFiltrados]    Script Date: 18/12/2025 20:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docentesFiltrados](
	[cedula] [int] NOT NULL,
	[docente] [nvarchar](50) NOT NULL,
	[clasificacion] [nvarchar](20) NOT NULL,
	[condicion] [nvarchar](5) NOT NULL,
	[categoria_docente] [nvarchar](20) NOT NULL,
	[asignatura] [nvarchar](100) NOT NULL,
	[seccion] [nvarchar](50) NOT NULL,
	[horas_teoricas] [int] NULL,
	[horas_practicas] [int] NULL,
	[horas_laboratorio] [int] NULL,
	[cantidad_horas_academicas] [int] NOT NULL,
	[programa] [nvarchar](50) NOT NULL,
	[nucleo] [nvarchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
	[periodo] [nvarchar](15) NOT NULL,
	[nombreFiltro] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 18/12/2025 20:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [nvarchar](250) NOT NULL,
	[clave] [nvarchar](250) NOT NULL,
	[pinUnico] [int] NOT NULL,
	[rol] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[dataDocentes] ADD  DEFAULT ('II-2024') FOR [periodo]
GO
ALTER TABLE [dbo].[docentesFiltrados] ADD  DEFAULT ('II-2024') FOR [periodo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('Ordinario') FOR [rol]
GO
